@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* cursor: none; */
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #717ebd;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525f9e;
}

::-moz-selection {
  color: #232946;
  background-image: linear-gradient(45deg, #eebbc3, #b8c1ec);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

::selection {
  color: #232946;
  background: #b8c1ec;
}

.break-words {
  overflow-wrap: break-word;
  word-break: break-word;
}

.gradient-text {
  background-color: #b8c1ec;
  background-image: linear-gradient(45deg, #eebbc3, #b8c1ec);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text::selection {
  -webkit-text-fill-color: #232946;
}
.cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  background-color: pink;
  opacity: 0.5;
  z-index: 999;
}
.parent {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 10px;
}
.child1 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.child2 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  z-index: 2;
}
.child3 {
  z-index: 1;
  margin: 30px;
}

@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim 0.5s forwards;
}

@tailwind utilities;